

#login-form {
    color:black;
    max-width: 300px;
    margin: auto;
    padding: 10px;
    border: 1px solid black;
    }

    input {
    width: 90%;
    padding: 8px;
    margin: 8px 0;
}
button {
background-color:green;
padding: 10px 15px;
 border-radius: 5px;
}

body {
background-color:pink;
}
button:hover{
color:red;
}